@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,900&display=swap');
body{
    /* background-color: #FCE22A; */
    background-color: #63e9e7;
}
.cabecalho{
    margin-top: 2%;
    display: flex;
    justify-content: center;   
}

.cabecalho h1{
    font-size: 50px;
    font-family: carter one;
}

.nav-bar{
    margin-top: 5%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 60px 60px;
    align-items:end;
    justify-content: stretch;
    border: 3px solid black;
    border-radius: 50px;
    margin-inline-start: 10%;
    margin-right: 10%;
    padding-left: 14%;
    background-color: #f5f247f6;
}
.nav-bar a{
    text-decoration: none;
    height: 20px;
    font-size: 20px;
}
.container-h2 h2{
    font-size: 30px;
    text-align: center;
    margin-block-start: 2%;
}
.cards{
    display: flex; 
    word-break: break-all;
}
.container p{
    font-size: 20px;
    border: 2px solid black;
    border-radius: 50px;
    block-size: 300px;
    margin: 10px;
    background-color: #f5f247f6;
}