@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,900&display=swap');

body{
    display: flex;
    flex-direction: column;
}
.cabecalho{
    text-align: center;
}

h1{
    
    font-family: carter one;
    font-size: 50px;
    color:#171F97;
    line-height: 2.5;
    
}

.nav-bar{
    display: flex;
    justify-content: center;
}

.menu{
    display: flex;
    width: 50%;
    margin-top: 30px;
    border-radius: 20px;
    background-color: #16FF00;
    justify-content: space-around;
    padding: 2%;
    text-align: center;
    justify-content: space-between;
    padding: 20px 10%;
    
}

.menu li {
    display: flex;
    align-items: center;
}

.menu li a{
    display: inline-block;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color:#000000;
    position: relative;
    padding-right: 10px;
    
}


.menu li:not(:last-child) a::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: -100px; 
    width: 1px;
    background-color: #000;
    
} 

.cards{
    
    text-align: center;
}

h2{
    font-size: 40px;
    margin-top: 50px;
}