@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,900&display=swap');
body{
    /* background-color: #FCE22A; */
    background-color: gray;
}
.cabecalho{
    margin-top: 2%;
    display: flex;
    justify-content: center;   
}

.cabecalho h1{
    font-size: 50px;
    font-family: carter one;
}

.nav-bar{
    margin-top: 5%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 60px 60px;
    align-items:end;
    justify-content: stretch;
    border: 3px solid black;
    border-radius: 50px;
    margin-inline-start: 10%;
    margin-right: 10%;
    padding-left: 14%;
    background-color: #f5f247f6;
}

.nav-bar a{
    text-decoration: none;
    height: 20px;
    font-size: 20px;
}

.container-h2 h2{
    font-size: 30px;
    text-align: center;
    margin-block-start: 2%;
    border-radius: 30px;
}

.container {
    width: 100%;
    overflow: hidden;
  }
  
.cards {
display: flex;
width: 300%;
transform: translateX(-100%);
transition: all 0.5s ease-in-out;
  }

.cards-descricao {
width: 33.33%;
}
.cards-descricao h3{
    margin-top: 3%;
    text-align: center;
    font-size: 30px;
}
.cards p{
padding-top: 1%;
font-size: 20px;
text-align: center;
word-wrap: break-word;
}

  /* Botões de navegação */
.btn-anterior, .btn-proximo {
    cursor:pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 24px;
    line-height: 1;
    text-align: center;
    
}
  
.btn-anterior {
  left: 0;
}
  
.btn-proximo {
  right: 0;
}
  
.rodape{
    background-color: white;
    position:absolute;
    bottom:0; 
    block-size: 3%;
    width:100%;
    margin-top: 10px
}

