/* 
CORES: #1e90ff, #00ff7f 
*/


html, body{
    height: 100%;
    /* background-image: linear-gradient(to bottom, #000000,#ffffff ); */
    background-color: aqua;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar img{
    margin-left: 1.5% ;
}
.nav-bar a{
    font-size: 20px;
    color: #ffffff;

}
.nav-bar a:last-child{
    margin-right: 1.5%;
} 


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* esconde a imagem usando default */
.mySlides {
  display: none;
}

/* botões de passar o slide */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* posição do botão next */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* efeitos de transparência */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Indicdores em ponto*/
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Animação em fading */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.cards{
  display: flex;
}
.cards-descricao{
  display: grid;
  border: 2px solid black ;
  border-radius: 10px;
  margin: 2%;
  padding: 5px;
}
.cards-descricao h3{
  font-size: 25px;
  text-align: center;
}

.cards-descricao p{
  font-size: 20px;
  text-align: center;
  word-break:keep-all;
}



.rodape-info-contato{
  display: grid;
  grid-template-columns:auto auto auto;
  background-color: #717171;
  align-items: center;
  justify-content: space-around;
}
.rodape-info-contatos {
  font-size: 25px;
  padding: 5px;
  width:fit-content;
}
.rodape-info-contatos address{
  padding: 5px;
}

.rodaé-redes-sociais{
  display: flex;
}
