@media (max-width: 768px) {
    .menu-toggle {
        display: block;  
        background: none; 
        justify-content: right;
    }
      
    .nav-bar a{
        display: none;
        position: absolute;
    }
    
    /* .menu-icon {
      display: block;
      cursor: pointer;
    } */
    
    /* .nav-menu-hamburguer {
        display: block;
    } */

    .nav-menu-hamburguer:active {
        display: block;
        
    }

    .cards-descricao{
        block-size: 290px;
        width: 550px;
    }
    .rodape-info-contatos{
        display: block;
        background-color: #1C1C1C;
        height: auto;
    }
    .logo-item{
        display: flex;
        justify-content: left;
    }
    .social-item{
        justify-content:last baseline;
    }
}