.rodape-info-contatos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  background-color: #000000;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  margin-bottom: 0px;
  margin-top: 100px;
  padding: 5px;
  height: 350px;
}

.logo-item img {
  max-width: 100%;
  margin-top: 40px;
  margin-left: 40px;
  width: 250px;
  height: 250px;
}

.heading {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-weight: bold;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 145px;
  margin-bottom: 130px;
  margin-left: 100px;
  margin-right: 100px;
  font-family: 'Intro Demo', sans-serif;
}

.info-item {
  grid-column: span 1;
}

.info-item p {
  transition: transform 0.3s ease-in-out;
}

.info-item p:hover {
  color: #de4029;
  transform: scale(1.1);
}

.info-item p {
  font-family: 'Albertus MT Std', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 100px;
  margin-top: -100px;
}

.social-item {
  grid-column: span 1;
  display: flex;
  justify-content: center;
  margin-top: 160px;
  margin-right: 4em;
  position: relative;
}

.icon {
  transition: transform 0.3s ease-in-out;
  height: 52px;
  margin: 10px;
  font-size: 1.5em;
  color: white;
}

.link-icon {
  transition: transform 0.3s ease-in-out;
  margin: 12px;
}

.icon:hover {
  transform: scale(1.2);
  color: #de4029;
}

.social-item img {
  padding: 0 2px;
}

.copy p {
  font-size: 12px;
  margin-top: 170px;
  margin-left: 100px;
  transition: transform 0.3s ease-in-out;
  font-family: 'Intro Demo', sans-serif;
}

.copy p:hover {
  color: #de4029;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .rodape-info-contatos {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    padding: 20px;
  }
  
  .logo-item img {
    margin: 0 auto;
    width: 200px;
    height: auto;
  }
  
  .heading {
    text-align: center;
    margin: 20px auto;
  }
  
  .info-item,
  .social-item {
    flex: 1;
    text-align: center;
    margin: 20px;
  }
  
  .info-item p {
    margin: 10px auto;
  }
  
  .social-item {
    margin-top: 0;
  }
  
  .copy p {
    text-align: center;
    margin: 10px auto;
  }
}