.rodape-info-contatos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    background-color: #1C1C1C;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    margin-bottom: 0px;
    padding: 5px;
    height: 350px;
    justify-content:center;
    align-items:self-start;
  }
  
  
  .info-item {
    grid-column: span 1;
  }
  
  .logo-item {
    grid-column: span 1;
  }
  
  .logo-item img {
    max-width: 100%;
    margin-block-start: 40px;
    margin-left: 80px;
    width: 250px; 
    height: 250px;
  }
  
  .heading {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-weight: bold;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #fff;
    margin-block-start: 140px;
    margin-block-end: 130px;
    margin-inline-start: 100px;
    margin-inline-end: 100px;
  }
  
  .info-item p {
    font-size: 15px;
    margin-block-end: 1em;
    margin-inline-start: 100px;
    margin-block-start: -100px;
  }
  .social-item {
    grid-column: span 1; 
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin-block-start: 160px;
    margin-right: 4em;
    
  }
  
  .social-item img {
    padding: 0 2px;
  }
  
  .copyright-item {
    grid-column: span 5;
  }
  
  .copy p {
    font-size: 20px;
    font-weight: bold;
    margin-block-start: 150px;
    margin-inline-start: 100px;
    
  }
  
  .whatsapp-icon {
    margin-top: 2px;
  }