.rodape-info-contatos{
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto auto auto;
  gap:10px;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  margin-bottom: 0px;
  padding: 5px;
  height: 350px;
}

.logo-item img {
  max-width: 100%;
  margin-block-start: 40px;
  margin-left: 40px;
  width: 250px; 
  height: 250px;
}



.heading {
  font-size: 17px;
  font-weight: bold;
  letter-spacing: 0.2em;
  font-weight: bold;
  margin-bottom: 50px;
  text-transform: uppercase;
  color: #fff;
  margin-block-start: 145px;
  margin-block-end: 130px;
  margin-inline-start: 100px;
  margin-inline-end: 100px;
  font-family: 'Intro Demo', sans-serif;
}

 .info-item {
  grid-column: span 1;
}

 .info-item p {
  transition: transform 0.3s ease-in-out;
}

 .info-item p:hover {
  color:#de4029;
  transform: scale(1.1);
}

 .info-item p {
  font-family: 'Albertus MT Std', sans-serif;
  font-size: 16px;
  font-weight: bold;
  margin-block-end: 1em;
  margin-inline-start: 100px;
  margin-block-start: -100px;
  
}

 .social-item {
  grid-column: span 1; 
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-block-start: 160px;
  margin-right: 4em;
  position: relative;
}

 .icon {
  transition: transform 0.3s ease-in-out;
  height: 52px;
  margin: 10px;
  font-size: 1.5em;
  color: white;

 }
/* .fa-whatsapp, .fa-instagram{
} */
.link-icon{
  transition: transform 0.3s ease-in-out;
  margin: 12px;
}

.icon:hover{
  transform: scale(1.2);
  color: #de4029;

}

 .social-item img {
   padding: 0 2px;
}

 .copyright-item {
  grid-column: span 2;
}


.copy p {
  font-size: 12px;
  margin-block-start: 170px;
  margin-inline-start: 100px;
  transition: transform 0.3s ease-in-out;
  font-family: 'Intro Demo', sans-serif;
}

.copy p:hover {
  color: #de4029;
  transform: scale(1.1);
}
 
 @media(max-width:768px){
  .rodape-info-contatos{
    display: block;
    width: 100%;
    height: 100%;
  }
}
