*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;

}
.imagem{
    display: flex;
    float: left;
    margin-left: 1%;
    margin-top: -0.2%;
}
nav{
    background-color: #1C1C1C;
    height: 150px;
    width: 100%;
}


label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
   
nav ul{
    margin-top: 2%;
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: 'Intro Demo', sans-serif;
}

nav ul li a.active,nav ul li a:hover{
    background-color: #272626;
    color: #de4029;
    
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px ;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width:1502px){
    .busca{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      input[type="text"] {
        width: 300px; 
        height: 30px; 
      }
}

@media(max-width:952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .slideshow-container{
        display: none;
    }
    .ponto{
        display: none;
    }
}

@media(max-width:768px){
    .imagem{
        margin-left: 5%;
    }
    .checkbtn{
        display: block;
        margin-top: 4%;
    }
    .pesquisa{
        margin-top: 10%;
    }
    ul{
        position: fixed;
        width: 30%;
        height: 100%;
        background: #1C1C1C;
        top: 19.5%;
        right: -110%;
        text-align: right;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        transition: transform 0.3s ease-in-out;
        
    }

   

    nav ul li a:hover,nav ul li a.active{
        color: #de4029;
        transform: scale(1.1);
    }

    #check:checked ~ul{
        margin: 0px;
        right: 10px;
    }

    .slideshow-container {
        display: none;
    }

    .ponto{
        display: none;
    }
}

@media(max-width:390px){
    ul{
        position: fixed;
        width: 50%;
        height: 100%;
        background: #272626;
        top: 22.5%;
        right: -110%;
        text-align: right;
        transition: all .5s;

    }
    nav ul li{
        display: block;
        
    }
    #check:checked ~ul{
        margin: 0px;
        right: 0;
    }
    .lupa{
        display: none;
    }
    .pesquisa{
        display: none;
    }
    .checkbtn{
        margin-top: 10%;
    }
    .info-item{
        margin-right: 10%;
    }
    .copy{
        margin-right: 10%;
    }
    .social-item{
        margin-left: 20%;
    }
}
