/* 
CORES: #1e90ff, #00ff7f 
*/

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Roboto:ital,wght@0,700;1,900&family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Carter+One&family=Roboto:ital,wght@0,700;1,900&family=Sora:wght@300&display=swap');


@import url("styleCabecalho.css");
@import url("footer.css");

html, body{
    height: 100%;
    /* background-image: linear-gradient(to bottom, #000000,#ffffff ); */
    /* background-image: linear-gradient(to bottom,#717171, #ffffff); */
}
body{
    background-image: url("/imagens/backgroundLogin.png");
    color: white;
    background-repeat: no-repeat;
}
.geral{
    display: grid;
    grid-template-columns: auto auto;
}
.sobre-grupo-sete {
    /* border: 2px solid white; */
    width: 30rem;
    height: 20rem;
    margin: 10em;
    float: left;
    font-size: 20px;
    text-align: center;
}
.sobre-grupo-sete h2{
    font-family: 'Carter One', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sora', sans-serif;
}
.sobre-grupo-sete p{
    display: flex;
    padding: 2em;
    font-family: 'Baloo 2', cursive;
    font-family: 'Carter One', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Sora', sans-serif;
}
.sobre-grupo-sete ul{
    padding: 0.5em;
    text-align: start;
}

.sobre-grupo-sete i{
    padding: 0.3em;
    color: white;
}

/* form{
    display: block;
    display: flex;
    justify-content: center;
    margin: 10em; 
    float: right;
} */
.input{
    border-radius: 5px;
    width: 200px;
    height: 1.875em;
}

.formulario-login{
    float: right;
    margin: 10em;
}
.formulario-login div{
    font-size: 40px;
    margin: 15px;
}

.formulario-login h1{
    padding-top: 1em;
    text-align: center;
    font-size: 35px;
}
.enviar-cadastro{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-login{
    width: 100px;
    height: 35px;
    border-radius: 10px;
}

.btn-login:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.cadastro{
    margin-left: 10px;
    font-size: 15px;
}
.cadastro:hover{
    font-size: 1.2rem;
} 

@media (min-width:375px){
    .form{
        display: flex;
    }
}

.cadastro{
    color: #60fb50;
    transition: transform 0.3s ease-in-out;
}

.cadastro:hover{
    transform: scale(1.2);
    /* color: #de4029; */
}