/* 
CORES: #1e90ff, #00ff7f 
*/

@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Roboto:ital,wght@0,700;1,900&family=Sora:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Carter+One&family=Roboto:ital,wght@0,700;1,900&family=Sora:wght@300&display=swap');

@import url("styleCabecalho.css");

html, body {
  height: 100%;
}

body {
  background-image: url("../imagens/backgroundLogin.png");
  color: white;
  background-size: cover;
  background-position: center;
  background-size: 200% 200%;
}

.geral {
  display: grid;
  grid-template-columns: auto auto;
}

.sobre-grupo-sete {
  width: 30rem;
  height: 20rem;
  margin: 10em;
  float: left;
  font-size: 20px;
  text-align: center;
}

.sobre-grupo-sete h2 {
  font-family: 'Carter One', 'Roboto', 'Sora', sans-serif;
}

.sobre-grupo-sete p {
  display: flex;
  padding: 2em;
  font-family: 'Baloo 2', 'Carter One', 'Roboto', 'Sora', sans-serif;
}

.sobre-grupo-sete ul {
  padding: 0.5em;
  text-align: start;
}

.sobre-grupo-sete i {
  padding: 0.3em;
  color: white;
}

.input {
  border-radius: 5px;
  width: 200px;
  height: 1.875em;
  margin: 30px;
  background: none;
  border: none;
  outline: none;
  max-width: 190px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  color: #fff;
}

.login {
  display: grid;
  padding: 1em;
}

.formulario-login {
  text-align: center;
  padding: 120px;
}

.formulario-login div {
  font-size: 40px;
}

.formulario-login h1 {
  padding-top: 1em;
  text-align: center;
  font-size: 32px;
  font-family: 'Intro Demo', sans-serif;
}

.formulario-login label {
  font-size: 30px;
}

.enviar-cadastro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
  margin-top: 40px;
  gap: 1em;
  font-family: 'New Comic Title Bold Italic', sans-serif;
}

.button-login {
  transition: transform 0.3s ease-in-out;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: #1c1c1c;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.button-login:hover {
  transform: scale(1.2);
}

.button-login::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #de4029 0%, #e06310 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.button-login:hover::before {
  width: 9em;
}

.cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #2471de;
  transition: transform 0.3s ease-in-out;
  width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  font-family: inherit;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.cadastro:hover {
  transform: scale(1.2);
}

.cadastro::before {
  content: '';
  width: 0;
  height: 3em;
  border-radius: 30em;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.cadastro:hover::before {
  width: 9em;
}

@media (max-width: 1200px) {
  .geral {
    grid-template-columns: 1fr;
  }

  .sobre-grupo-sete {
    margin: 2em;
  }
}

@media (max-width: 768px) {
  .formulario-login {
    padding: 2em;
    text-align: center;
  }

  .sobre-grupo-sete {
    width: 100%;
    margin: 2em 0;
  }
}

@media (max-width: 480px) {
  .geral {
    grid-template-columns: 1fr;
  }

  .sobre-grupo-sete {
    margin-left: -200px;
    margin-right: 500px
  }

  .formulario-login {
    margin-left: -400px;
  }
}