/* 
CORES: #1e90ff, #00ff7f 
*/
@import url("styleCabecalho.css");
@import url("footer.css");

*{
  font-family: 'Times New Roman', Times, serif;
}

/* Slideshow container */
.slideshow-container {
  max-inline-size: 800px;
  position: relative;
  margin: auto;
  padding-block-start: 2%;
}

/* esconde a imagem usando default */
.mySlides {
  display: none;
}

/* botões de passar o slide */
.prev, .next {
  cursor: pointer;
  position: absolute;
  inset-block-start: 50%;
  inline-size: auto;
  margin-block-start: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* posição do botão next */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* efeitos de transparência */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Indicdores em ponto*/
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(163, 161, 161);
  border-radius: 50%;
  margin-top: 2%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #272626;
}

/* Animação em fading */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.mySlides img{
  box-shadow: 20px 20px 10px;
  border-radius: 10px;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


.cards{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

}

.cards-descricao{
  background-color: white;
  display:grid;
  border: 2px solid black;
  border-radius: 10px;
  margin: 2%;
  padding: 5px;
  block-size: 270px;
  inline-size: 500px;
  box-shadow: 10px 30px 10px rgba(0, 0, 0, 0.3);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
}

.cards-descricao h3{
  font-size: 25px;
  text-align: center;
}

.cards-descricao p{
  font-size: 20px;
  text-align: center;
  word-break:keep-all;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
}

input[type="text"] {
  width: 300px; 
  height: 20px; 
  padding: 5px; 
  border: none; 
  border-radius: 8px; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
}

button[type="submit"] {
  padding: 5px 10px;
  background-color: #a0a0a0;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0062cc;
}